<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Matheus Felix, Kauan Cristian">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
   <link rel="shortcut icon" href="../assets/img/icon.svg" type="image/svg">
    <title>Informações - Eventos</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        h1#fl {
            font-family: "Alegreya SC", serif;
        }

        h2, h1, p {
            font-family: "Montserrat", serif;
        }

    
        
    </style>
</head>

<body>
    <!-- Evento 1 Introdução -->
    <div class="mb-24">
        <div class="flex justify-center mb-2">
            <div class="flex justify-center items-center border-b-2 w-[650px] space-x-10">
                <a href="../../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
                        stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
                <h1 class="text-center text-[19.5px] mt-3 pb-3 translate-x-[-11px]">Sessão de Eventos</h1>
            </div>
        </div>

        <div class="flex justify-center items-center transform translate-y-[20px] space-x-4">
            <div class="flex justify-center items-center ring-2 ring-gray-300 rounded-full w-10 h-10">
                <i class="fas fa-graduation-cap text-ceara-black text-xmd"></i>
            </div>
            <div>
                <h2 class="font-semibold">Workshop Personalizado</h2>
            </div>
        </div>

        <!-- 1.1 - Sobre -->
        <div
            class="bg-gray-100 shadow-2xl h-[700px] md:h-[400px] w-[350px] md:w-[750px] mx-auto mt-10 rounded-xl flex flex-col md:flex-row overflow-hidden relative group mb-24">
            <div class="relative h-full md:w-[60%]">
                <img id="img-somb" class="md:h-[260px] md:h-full object-cover transition ease-in-out group-hover:scale-105 duration-700"
                    src="../../assets/img/event/chef-cooking.jpg" alt="Imagem do evento">
            </div>

            <div class="text-center relative flex flex-col items-center md:w-[50%] translate-y-[-70px] md:translate-y-0">
                <div class="flex justify-center">
                    <h1 id="fl" class="border-b-2 pt-3 text-[22px] w-[100px]">Félix</h1>
                </div>

                <div class="mt-5">
                    <p>Sobre o Evento</p>
                </div>

                <div class="text-sm mt-5">
                    <p class="w-[280px]">Seu evento será inesquecível! No Restaurante Félix, oferecemos um ambiente
                        exclusivo, com um cardápio personalizado e um atendimento dedicado para que você e seus
                        convidados aproveitem cada momento. <br> <br> Com capacidade para até 70 pessoas, nosso espaço é
                        perfeito para celebrações especiais, e nosso serviço vai até de madrugada, garantindo que cada
                        detalhe seja aproveitado ao máximo.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#541F0C] pt-20">

        <div class="flex justify-center relative space-x-4 md:space-x-7">
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-start transform translate-y-[17px] md:translate-y-[30px]"></div>
            <div>
                <h1 class="text-gray-200 text-center text-[25px] md:text-[40px] font-semibold">Nossas Culinárias</h1>
            </div>
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-end transform translate-y-[17px] md:translate-y-[30px]"></div>
        </div>

        <div class="grid md:grid-cols-2 mt-10">

            <!-- Coluna 1 -->
            <div class="text-center space-y-20 md:space-y-0">

                <!-- Alta Gastronomia Francesa -->
                <div class="flex flex-col items-center justify-center mb-12">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Alta Gastronomia Francesa</h2>
                        <p class="text-[15px] mx-3">A Alta Gastronomia Francesa do nosso restaurante é uma verdadeira celebração da tradição e sofisticação culinária francesa, reinterpretada com criatividade e respeito pelos sabores autênticos. Cada prato é uma obra de arte que combina técnicas clássicas e inovadoras, utilizando ingredientes selecionados com rigor para garantir frescor e qualidade excepcionais.
                        </p>
                    </div>

                    <div class="flex justify-center">
                        <img class="w-[300px] md:w-[370px] md:h-[240px] rounded-xl transition-transform object-cover"
                            src="https://i.postimg.cc/QxGn7c1w/medium-shot-professional-chef-posing.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full text-white px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Culinária Italiana Gourmet -->
                <div class="flex flex-col items-center justify-center mb-12">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Culinária Italiana Gourmet</h2>
                        <p class="text-[15px] mx-3">A Culinária Italiana Gourmet do nosso restaurante é uma fusão perfeita entre a tradição das receitas centenárias da Itália e a sofisticação de uma cozinha contemporânea, criando pratos que exalam autenticidade e excelência. </p>
                    </div>

                    <div class="flex flex-col justify-center items-center">
                        <img class="w-[300px] md:w-[370px] md:h-[240px] rounded-xl transition-transform object-cover"
                            src="https://i.postimg.cc/GmSFF16t/portrait-elderly-chef-dressed-uniform-with-crossed-arms-against-dark-background.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Fim coluna 1 -->


            <!-- Inicio coluna 2 -->
            <div class="flex flex-col items-center justify-center mb-12 text-center">

                <!-- Culinária Japonesa de Autor -->

                <!-- Imagem Up Desktop -->
                <div class="hidden md:block">
                    <div>
                        <img class="w-[370px] h-[240px] rounded-xl object-cover"
                            src="https://i.postimg.cc/Kv0Bb2Gf/medium-shot-man-working-as-bartender.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] translate-x-[185px] md:translate-x-[0px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

                <div class="text-gray-100 max-w-[500px] mb-7 mt-12 md:mt-2">
                    <h2 class="text-[20px] md:text-[40px] font-light md:mb-[12px] mb-12">Culinária Japonesa de Autor</h2>
                    <p class="text-[15px] mx-3">Neste espaço cada detalhe foi meticulosamente concebido para oferecer
                        conforto e beleza, ambiente climatizado, sistema de som e de projeção de imagem, perfeito para
                        pequenos eventos.</p>
                </div>

                <!-- Imagem Bottom Mobile -->
                <div class="block md:hidden">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl"
                            src="https://i.postimg.cc/Kv0Bb2Gf/medium-shot-man-working-as-bartender.jpg" alt="">
                    </div>
                    <div>
                        <div class="translate-y-[-45px] translate-x-[93px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Cozinha Molecular -->

                <!-- Imagem up desktop -->
                <div class="hidden md:block">
                    <div class="mt-20">
                        <img class="w-[370px] h-[240px] rounded-xl object-cover" src="https://i.postimg.cc/7LmpMbw7/portrait-modern-man-performing-housework-gentle-dreamy-atmosphere.jpg"
                            alt="">
                    </div>


                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 border-white rounded-full text-white px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

                <div class="text-gray-100 max-w-[500px] mt-2 pb-10 mt-[55px]">
                    <h2 class="text-[20px] md:text-[40px] font-light pb-4">Cozinha Molecular</h2>
                    <p class="text-[15px] mx-3">A Cozinha Molecular do nosso restaurante reinventa sabores com técnicas inovadoras, criando pratos surpreendentes que oferecem uma experiência sensorial única e inesquecível.</p>
                </div>

                <!-- Imagem bottom mobile -->
                <div class="block md:hidden pb-10">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl object-cover" src="https://i.postimg.cc/7LmpMbw7/portrait-modern-man-performing-housework-gentle-dreamy-atmosphere.jpg"
                            alt="">
                    </div>
                    <div class="translate-y-[-40px] translate-x-[93px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full px-[20px] flex text-white">
                        <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        <span class="px-2">Felix</span>
                        <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>





</body>

</html>