<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Matheus Felix, Kauan Cristian">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
   <link rel="shortcut icon" href="../assets/img/icon.svg" type="image/svg">
    <title>Informações - Eventos</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        h1#fl, span {
            font-family: "Alegreya SC", serif;
        }

        h2, h1, p {
            font-family: "Montserrat", serif;
        }


        @media screen and (min-width:640px) {
            img{
                margin-left: 25px;
            }

            img#img-somb{
                margin-left: 0px;
            }
        }
    </style>
</head>

<body>
    <!-- Evento 1 - Introdução -->
    <div class="mb-24">
        <div class="flex justify-center mb-2">
            <div class="flex justify-center items-center border-b-2 w-[650px] space-x-10">
                <a href="../../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
                        stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
                <h1 class="text-center text-[19.5px] mt-3 pb-3 translate-x-[-11px]">Sessão de Eventos</h1>
            </div>
        </div>

        <div class="flex justify-center items-center transform translate-y-[20px] space-x-4">
            <div class="flex justify-center items-center ring-2 ring-gray-300 rounded-full w-10 h-10">
                <i class="fas fa-utensils text-ceara-black text-md translate-x-[-1px]"></i>
            </div>
            <div>
                <h2 class="font-semibold">Casamento Personalizado</h2>
            </div>
        </div>
        <!-- 1.1 - Sobre -->
        <div
            class="bg-gray-100 shadow-2xl h-[700px] md:h-[400px] w-[350px] md:w-[750px] mx-auto mt-10 rounded-xl flex flex-col md:flex-row overflow-hidden relative group mb-24">
            <div class="relative h-full md:w-[60%]">
                <img id="img-somb" class="md:h-[260px] md:h-full object-cover transition ease-in-out group-hover:scale-105 duration-700"
                    src="../../assets/img/event/casament.jpg" alt="Imagem do evento">
            </div>

            <div class="text-center relative flex flex-col items-center md:w-[50%] translate-y-[-70px] md:translate-y-0">
                <div class="flex justify-center">
                    <h1 id="fl" class="border-b-2 pt-3 text-[22px] w-[100px]">Félix</h1>
                </div>

                <div class="mt-5">
                    <p>Sobre o Evento</p>
                </div>

                <div class="text-sm mt-5">
                    <p class="w-[280px]">Seu evento será inesquecível! No Restaurante Félix, oferecemos um ambiente
                        exclusivo, com um cardápio personalizado e um atendimento dedicado para que você e seus
                        convidados aproveitem cada momento. <br> <br> Com capacidade para até 70 pessoas, nosso espaço é
                        perfeito para celebrações especiais, e nosso serviço vai até de madrugada, garantindo que cada
                        detalhe seja aproveitado ao máximo.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Nossos Espaços -->
    <div class="bg-[#541F0C] pt-20">

        <div class="flex justify-center relative space-x-4 md:space-x-7">
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-start transform translate-y-[17px] md:translate-y-[30px]"></div>
            <div>
                <h1 class="text-gray-200 text-center text-[25px] md:text-[40px] font-semibold">Nossos Espaços</h1>
            </div>
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-end transform translate-y-[17px] md:translate-y-[30px]"></div>
        </div>

        <div class="grid md:grid-cols-2 mt-10">

            <!-- Coluna 1 -->
            <div class="text-center space-y-20 md:space-y-0">

                <!-- Salão Principal -->
                <div class="flex flex-col justify-center items-center mb-12">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Salão Principal</h2>
                        <p class="text-[15px] m">No salão principal do nosso restaurante, você encontrará um ambiente
                            acolhedor e sofisticado, projetado para proporcionar uma experiência única e memorável. O
                            espaço
                            conta com uma decoração elegante, onde os detalhes harmoniosos criam uma atmosfera de
                            conforto e
                            bom gosto. As mesas, cuidadosamente dispostas, oferecem a privacidade necessária para uma
                            refeição tranquila, mas também possibilitam uma convivência agradável entre os convidados.
                        </p>
                    </div>

                    <div class="flex justify-center items-center">
                        <img class="w-[300px] md:w-[370px] md:h-[240px] rounded-xl transition-transform md:ml-[-8px] object-cover"
                            src="../../assets/img/event/event-casament/salao.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] md:translate-x-[0px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Mezanino -->
                <div class="md:pb-10 flex flex-col justify-center items-center">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Mezanino</h2>
                        <p class="text-[15px] mx-3">Aqui no nosso mezanino, você encontra um ambiente acolhedor e
                            sofisticado, perfeito para uma experiência única. Com vista privilegiada para o salão
                            principal, o mezanino oferece um espaço mais reservado, ideal para encontros especiais,
                            jantares românticos ou celebrações de grupos.</p>
                    </div>

                    <div class="flex justify-center">
                        <img class="w-[300px] md:w-[370px] md:h-[240px] rounded-xl transition-transform mx-auto md:mx-5"
                            src="../../assets/img/event/event-casament/Mezanino.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] md:translate-x-[0px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Fim coluna 1 -->


            <!-- Inicio coluna 2 -->
            <div class="flex flex-col items-center justify-center mb-12 text-center mt-12 md:mt-0">

                <!-- Espaço Viva -->

                <!-- Imagem Up Desktop -->
                <div class="hidden md:block">
                    <div class="flex justify-center">
                        <img class="w-[370px] h-[250p4] ml-[-4px] rounded-xl object-cover"
                            src="../../assets/img/event/event-casament/espace-vivo.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] md:translate-x-[0px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center justify-center text-gray-100 max-w-[500px] mb-7 mt-2">
                    <h2 class="text-[20px] md:text-[40px] font-light pb-4 ">Espaço Viva</h2>
                    <p class="text-[15px] mx-3">Neste espaço cada detalhe foi meticulosamente concebido para oferecer
                        conforto e beleza, ambiente climatizado, sistema de som e de projeção de imagem, perfeito para
                        pequenos eventos.</p>
                </div>

                <!-- Imagem Bottom Mobile -->
                <div class="block md:hidden">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl"
                            src="../../assets/img/event/event-casament/espace-vivo.jpg" alt="">
                    </div>
                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Jardim -->

                <!-- Imagem up desktop -->
                <div class="hidden md:block">
                    <div class="flex justify-center mt-20">
                        <img class="md:w-[370px] md:h-[240px] rounded-xl object-cover ml-[-4px]" src="../../assets/img/event/event-casament/jardim.jpeg"
                            alt="">
                    </div>
                        <div class="flex justify-center">
                            <div class="translate-y-[-40px] translate-x-[93px] md:translate-x-[0px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                                <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                                    <span class="px-2">Felix</span>
                                <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            </div>
                        </div>
                </div>

                <div class="text-gray-100 max-w-[500px] mt-2 pb-10 mt-[55px] text-center flex flex-col justify-center">
                    <h2 class="text-[20px] md:text-[40px] font-light pb-4">Jardim</h2>
                    <p class="text-[15px] mx-3">No jardim, a natureza se funde com o bar externo, na qual os clientes podem saborear drinques exclusivos em um espaço que transborda elegância e charme.</p>
                </div>

                <!-- Imagem bottom mobile -->
                <div class="block md:hidden pb-10">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl" src="../../assets/img/event/event-casament/jardim.jpeg"
                            alt="">
                    </div>
                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>

</html>