<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Matheus Felix, Kauan Cristian">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://cdn.tailwindcss.com"></script>
   <link rel="shortcut icon" href="../assets/img/icon.svg" type="image/svg">
    <title>Informações - Eventos</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        h1#fl {
            font-family: "Alegreya SC", serif;
        }

        h2, h1, p {
            font-family: "Montserrat", serif;
        }
        
    </style>
</head>

<body>
    <!-- Evento 1 Introdução -->
    <div class="mb-24">
        <div class="flex justify-center mb-2">
            <div class="flex justify-center items-center border-b-2 w-[650px] space-x-10">
                <a href="../../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
                        stroke="#0D0D0D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
                <h1 class="text-center text-[19.5px] mt-3 pb-3 translate-x-[-11px]">Sessão de Eventos</h1>
            </div>
        </div>

        <div class="flex justify-center items-center transform translate-y-[20px] space-x-4">
            <div class="flex justify-center items-center ring-2 ring-gray-300 rounded-full w-10 h-10">
                <i class="fas fa-glass-cheers text-ceara-black text-md"></i>
            </div>
            <div>
                <h2 class="font-semibold">Evento Privado</h2>
            </div>
        </div>

        <!-- 1.1 - Sobre -->
        <div class="bg-gray-100 shadow-2xl h-[760px] md:h-[400px] w-[350px] md:w-[750px] mx-auto mt-10 rounded-xl flex flex-col md:flex-row overflow-hidden relative group mb-24">
        <div class="relative h-full md:w-[60%]">
            <img id="img-somb" class="md:h-[260px] md:h-full object-cover transition ease-in-out group-hover:scale-105 duration-700"
                src="https://i.postimg.cc/jdQ5vG5k/reserved.jpg" alt="Imagem do evento">
        </div>

        <div class="text-center relative flex flex-col items-center md:w-[50%] translate-y-[-35px] md:translate-y-0">
            <div class="flex justify-center">
                <h1 id="fl" class="border-b-2 pt-3 text-[22px] w-[100px]">Félix</h1>
            </div>

            <div class="mt-5">
                <p>Sobre o Evento</p>
            </div>

            <div class="text-sm mt-5">
                <p class="w-[280px]">Celebre momentos especiais em um ambiente exclusivo e acolhedor no Restaurante Félix. Oferecemos um evento totalmente personalizado, com pratos deliciosos, atendimento impecável e uma experiência única pensada especialmente para você e seus convidados. <br> <br>Seja para uma comemoração íntima, um evento corporativo ou uma celebração especial, cuidamos de cada detalhe para garantir que sua ocasião seja inesquecível.</p>
            </div>
        </div>
    </div>
    </div>

    
    <div class="bg-[#541F0C] pt-20">

        <div class="flex justify-center relative space-x-4 md:space-x-7">
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-start transform translate-y-[17px] md:translate-y-[30px]"></div>
            <div>
                <h1 class="text-gray-200 text-center text-[24px] md:text-[40px] font-semibold">Planos Personalizados</h1>
            </div>
            <div class="bg-gray-200 h-[2px] w-[50px] md:w-[350px] flex justify-end transform translate-y-[17px] md:translate-y-[30px]"></div>
        </div>

        <div class="grid md:grid-cols-2 mt-10">

            <!-- Coluna 1 -->
            <div class="flex flex-col items-center text-center space-y-20 md:space-y-0">

                <!-- Pacote Básico -->
                <div class="flex flex-col justify-center mb-12">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Exclusivo Personalizado</h2>
                        <p class="text-[15px] mx-3">Uma experiência única, criada sob medida para você e seus convidados. Desde o menu até o ambiente, tudo é pensado de acordo com suas preferências. Ideal para eventos intimistas e memoráveis, com atenção total aos detalhes e um serviço impecável.</p>
                    </div>

                    <div class="flex flex-col justify-center items-center">
                        <img class="w-[300px] h-[210px] md:w-[370px] md:h-[240px] rounded-xl transition-transform object-cover "
                            src="https://i.postimg.cc/j2TZz1tk/freepik-upload-39358.png" alt="">
                    </div>
                    <div>
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 text-white rounded-full text-white px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Pacote Premium -->
                <div class="md:pb-10">
                    <div class="text-gray-100 max-w-[500px] mb-7">
                        <h2 class="text-[20px] md:text-[40px] font-light pb-4">Experiência Imersiva</h2>
                        <p class="text-[15px] mx-3">Uma noite única, onde gastronomia, música e ambiente se combinam para criar uma vivência completa. Ideal para quem busca um evento exclusivo e inesquecível, com atenção aos detalhes para encantar todos os sentidos.</p>
                    </div>

                    <div class="flex flex-col justify-center items-center">
                        <img class="w-[300px] md:w-[370px] md:h-[240px] rounded-xl transition-transform object-cover"
                            src="https://i.postimg.cc/C112RXMC/beautiful-candles-restaurant.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Fim coluna 1 -->


            <!-- Inicio coluna 2 -->
            <div class="text-center flex flex-col justify-center items-center mt-20 md:mt-0">

                <!-- Pacote Vip -->

                <!-- Imagem Up Desktop -->
                <div class="hidden md:block">
                    <div>
                        <img class="w-[370px] h-[240px] rounded-xl object-cover"
                            src="https://i.postimg.cc/ydsZnC39/wide-shot-bottles-glasses-display-cabinet-bar-scandic-hotel-copenhagen-denmark.jpg" alt="">
                    </div>

                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

                <div class="text-gray-100 max-w-[500px] mb-7 mt-[-15px] md:mt-2">
                    <h2 class="text-[20px] md:text-[40px] font-light pb-4">Vip</h2>
                    <p class="text-[15px] mx-3">Uma experiência exclusiva com acesso privilegiado ao evento, serviço personalizado e um ambiente reservado para garantir o máximo de conforto e sofisticação. Perfeito para quem busca um toque especial e atendimento diferenciado.</p>
                </div>

                <!-- Imagem Bottom Mobile -->
                <div class="block md:hidden">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl"
                            src="https://i.postimg.cc/ydsZnC39/wide-shot-bottles-glasses-display-cabinet-bar-scandic-hotel-copenhagen-denmark.jpg" alt="">
                    </div>
                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full text-[#402703] px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>


                <!-- Pacote Executivo-->

                <!-- Imagem up desktop -->
                <div class="hidden md:block">
                    <div class="mt-20">
                        <img class="w-[370px] h-[240px] rounded-xl object-cover" src="https://i.postimg.cc/Ls6qZBcB/wine-glasses-served-table-with-lightening-candles-table-number-it.jpg"
                            alt="">
                    </div>
                    <div class="flex justify-center">
                        <div class="translate-y-[-45px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 border-white rounded-full text-white px-[20px] flex">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

                <div class="text-gray-100 max-w-[500px] md:mt-2 pb-10 mt-[65px]">
                    <h2 class="text-[20px] md:text-[40px] font-light pb-4">Sunset & Coquete</h2>
                    <p class="text-[15px] mx-3">Desfrute de uma tarde inesquecível com uma vista deslumbrante, coquetéis exclusivos e uma atmosfera relaxante. O ambiente perfeito para relaxar, socializar e saborear bebidas sofisticadas enquanto o dia se transforma em noite.</p>
                </div>

                <!-- Imagem bottom mobile -->
                <div class="block md:hidden pb-10">
                    <div class="flex justify-center">
                        <img class="w-[300px] rounded-xl object-cover" src="https://i.postimg.cc/Ls6qZBcB/wine-glasses-served-table-with-lightening-candles-table-number-it.jpg"
                            alt="">
                    </div>
                    <div class="flex justify-center">
                        <div class="translate-y-[-40px] absolute bg-ceara-black/80 backdrop-blur-sm border-2 rounded-full px-[20px] flex text-white">
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                            <span class="px-2">Felix</span>
                            <div class="bg-white h-[1px] w-[40px] transform translate-y-[12px]"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</body>

</html>